@media only screen and (min-width: 701px) {
    .registrationPageProstovoljci{
        width: 100vw;
        height: 80vh;
        
    }
    .registracijaProstovoljci1{
        color: white;
        font-size: 22px;
        font-weight: bolder;
        top: 22.8vh;
        display: flex;
        justify-content: center;
        position: relative;
        font-family: 'Inter', sans-serif;
    }

    .UporabniskoIme{
        margin: auto;
        width: 41vw;
        height: 5vh;
        position: relative;
        top: 24.5vh;
        display: flex;
        justify-content: center;
        font-family: 'Inter', sans-serif;
    }

    #exampleUporabniskoIme1{
        border-style: none;
        width: 20vw;
    }
   
    .Ime{
        margin: auto;
        width: 41vw;
        height: 5vh;
        position: relative;
        top: 26vh;
        border-radius: 0%;
        display: flex;
        justify-content: center;
        font-family: 'Inter', sans-serif;
    }

    .pogojiUporabe{
        color: white;
        font-size: 11px;
        top: 34vh;
        display: flex;
        justify-content: center;
        position: relative;
        font-family: 'Inter', sans-serif;
    }

    #exampleIme1{
        border-style: none;
        width: 20vw;
    }

    .GesloProstovoljci{
        margin: auto;
        width: 41vw;
        height: 5vh;
        position: relative;
        top: 27.5vh;
        justify-content: center;
        display: flex;
        font-family: 'Inter', sans-serif;
        font-style: normal;
    }

    #exampleGesloProstovoljci1{
        border-style: none;
        width: 20vw;
    }
    
    ::placeholder{
        color: #173b5e;
        margin-left: 4vh;
    }

    #btnRegistracijaProstovoljci{
        background-color: #41b0cd;
        color: white;
        position: relative;
        top: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 5vh;
        border-color:white;
        border-radius: 6px;
        font-family: 'Inter', sans-serif;
        margin: auto;
    }

    #btnRegistracijaProstovoljci:hover{
        background: #173b5e;
        cursor: pointer;
    }
}

@media only screen and (max-width: 700px) {
    .registrationPageProstovoljci{
        width: 100vw;
        height: 80vh;
    }
    
    .registracijaProstovoljci1{
        color: white;
        font-size: 20px;
        font-weight: bolder;
        top: 22.8vh;
        display: flex;
        justify-content: center;
        position: relative;
        font-family: 'Inter', sans-serif;
        padding-top: 14vh;
    }

    .UporabniskoIme{
        margin: auto;
        width: 41vw;
        height: 4vh;
        position: relative;
        top: 24.5vh;
        display: flex;
        justify-content: center;
        font-family: 'Inter', sans-serif;
    }

    #exampleUporabniskoIme1{
        border-style: none;
        width:40vw;
    }
   
    .Ime{
        margin: auto;
        width: 41vw;
        height: 4vh;
        position: relative;
        top: 26vh;
        border-radius: 0%;
        display: flex;
        justify-content: center;
        font-family: 'Inter', sans-serif;
    }

    .pogojiUporabe{
        color: white;
        font-size: 11px;
        margin-left: 11vh;
        width: 60vw;
        top: 34vh;
        position: relative;
        font-family: 'Inter', sans-serif;
        text-align: center;
    }

    #exampleIme1{
        border-style: none;
        width:40vw;
    }

    .GesloProstovoljci{
        margin: auto;
        width: 41vw;
        height: 4vh;
        position: relative;
        top: 27.5vh;
        justify-content: center;
        display: flex;
        font-family: 'Inter', sans-serif;
        font-style: normal;
    }

    #exampleGesloProstovoljci1{
        border-style: none;
        width:40vw;
    }
    
    ::placeholder{
        color: #173b5e;
        margin-left: 4vh;
    }

    #btnRegistracijaProstovoljci{
        background-color: #41b0cd;
        color: white;
        position: relative;
        top: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width:40vw;
        height: 4vh;
        border-color:white;
        border-radius: 6px;
        border-style: solid;
        font-family: 'Inter', sans-serif;
    }

    #btnRegistracijaProstovoljci:hover{
        background: #173b5e;
        margin: auto;
        cursor: pointer;
        width:40vw;
    }
}